.form-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .form-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;

    .label {
      //min-width: 60px;
      margin-right: 20px;
    }

    .el-input,
    .el-select {
      width: 230px;
    }
  }

  .form-btn-box {
  }
}

