.form-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .form-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;

    .label {
      width: 100px;
      margin-right: 20px;
      text-align: right;
    }

    .el-input,
    .el-select {
      width: 230px;
    }
  }

  .form-btn-box {
    width: 100%;
    margin: 20px 30px;

    .btn-box-fold {
      display: inline-block;
      cursor: pointer;
      user-select: none;
      color: #3ca2ff;
      font-size: 14px;
      text-align: center;
    }

    .btn-box {
      user-select: none;
      text-align: right;

      .el-button {
        width: 80px;
      }
    }
  }
}

